In [132]:
# Import the neccessary modules
import pandas as pd
import numpy as np

In [133]:
# Read the dataset into a dataframe
df = pd.read_excel('./Activity_Recognition_DataSet/Arm.xlsx')

In [134]:
df.head(5)

,Time_Stamp,Ax,Ay,Az,Gx,Gy,Gz,Mx,My,Mz,Activity_Label
0,1364396345335,-17.365944,19.517958,0.885323,-0.121868,2.177429,1.535715,18.300000,-44.160000,8.639999,Downstairs
1,1364396345354,-9.684067,13.933616,1.157730,-0.053145,-1.751656,1.254106,17.279999,-44.160000,9.179999,Downstairs
2,1364396345375,-4.045243,7.709117,-1.266692,-0.596510,-3.471852,1.176526,16.500000,-44.399998,9.360000,Downstairs
3,1364396345394,-1.770645,5.788648,-0.735499,-0.867734,-2.983771,0.893696,15.900000,-44.520000,9.360000,Downstairs
4,1364396345414,2.819412,3.963521,0.599295,-0.541227,-2.662762,0.328645,15.000000,-44.700000,9.240000,Downstairs

In [135]:
cols_to_drop = ['Time_Stamp']
df = df.drop(cols_to_drop, axis=1)
df.head(5)

,Ax,Ay,Az,Gx,Gy,Gz,Mx,My,Mz,Activity_Label
0,-17.365944,19.517958,0.885323,-0.121868,2.177429,1.535715,18.300000,-44.160000,8.639999,Downstairs
1,-9.684067,13.933616,1.157730,-0.053145,-1.751656,1.254106,17.279999,-44.160000,9.179999,Downstairs
2,-4.045243,7.709117,-1.266692,-0.596510,-3.471852,1.176526,16.500000,-44.399998,9.360000,Downstairs
3,-1.770645,5.788648,-0.735499,-0.867734,-2.983771,0.893696,15.900000,-44.520000,9.360000,Downstairs
4,2.819412,3.963521,0.599295,-0.541227,-2.662762,0.328645,15.000000,-44.700000,9.240000,Downstairs

In [136]:
X = df.values
y = df['Activity_Label'].values

In [137]:
X = np.delete(X,9,axis=1)

In [138]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12);

In [139]:
#DecisionTree
from sklearn import tree
dt_clf = tree.DecisionTreeClassifier(max_depth=30)

dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=30)

In [140]:
#DecisionTree score
dt_clf.score(X_test, y_test)

0.9235629143195045

In [141]:
#Confusion matrix
y_pred = dt_clf.predict(X_test)

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[2898,   79,    6,   49,  341,  301],
       [ 111, 5360,    1,    6,  188,   24],
       [   5,    0, 5991,    1,    4,    4],
       [  35,    1,    0, 5993,   23,   15],
       [ 352,  145,    2,   21, 3572,  248],
       [ 227,   20,    3,   22,  222, 5861]], dtype=int64)

In [142]:
#Random forest

from sklearn import ensemble
rf_clf = ensemble.RandomForestClassifier(n_estimators=100)
rf_clf.fit(X_train, y_train)

RandomForestClassifier()

In [148]:
#Random forest score
rf_clf.score(X_test, y_test)

rf_clf.predict([[-1.770645,5.788648,-0.735499,-0.867734,-2.983771,0.893696,15.900000,-44.520000,9.360000]])

array(['Downstairs'], dtype=object)

In [ ]:
#Gradient boosting

gb_clf = ensemble.GradientBoostingClassifier(n_estimators=10)
gb_clf.fit(X_train,y_train)
gb_clf.score(X_test, y_test)

0.8873362173601818